
<%var link = '/profile'+'/'+friend; %>

<span class="flex flex_center">
    <div class="post_profile_picture">
        <%var dp = '../addmie/dp/'+friend+'.jpg'%>
        <img src="<%=dp%>" alt="image" height="30px" width="30px" style="margin: 5px;">
    </div>
    <div style="width: 100px;">        
        <a style="font-size: 16px;" href= <%=link%> >
            <%=friend%>

        </a>
        
    </div>
    
    
</span>
