
    <span class="flex likecommentsharesave">
        <div class="flex flex_column flex_center">
            <div class="post_profile_picture">
                <img src="../addmie/img/Addmie.png" alt="image" height="30px" width="30px" style="margin: 5px;">

            </div>
            <h3 class="flex flex_column">
                <a href= ''>
                    
                </a>
                <button>reply</button>
            </h3>                                                                                 
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique enim, nostrum sit quaerat quasi rerum vero quo tempore, totam repellat veniam consequuntur aut? Dolorem quae debitis, recusandae ipsa culpa blanditiis.

        </p>
        
        <div>
            <button type="button" class="like btn" onclick="" >       
                <i  ></i>
                <div class="likes">                    
                    <a><div id=""></div></a>
                </div>
            </button>
        </div>
    </span>
