<%var profilelink='/profile/' + friend; %>
<%var convolink='direct/inbox/'+convoid; %>
<button class="convoheader" >

    
    <a href=<%=profilelink%> >
        <%var dp = '../addmie/dp/'+friend+'.jpg'%>

        <img src="<%=dp%>" alt="image" height="30px" width="30px" style="margin: 5px;">
    </a>
    <a href=<%=convolink%> class="profilename">
        <div ><%=friend%></div>
    </a>


</button>
