<%var profilelink='/profile/' + friend; %>
<%var convolink='direct/inbox/'+convoid; %>
<button class="convoheader" >

    
    <a href=<%=profilelink%> >
        <div class="profilepic"></div>
    </a>
    <a href=<%=convolink%> class="profilename">
        <div ><%=friend%></div>
    </a>


</button>
