<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="addmie/css/message.css">
    <link rel="stylesheet" type="text/css" href="addmie/css/mobile.css">
    <title>DM</title>
</head>
<body>
    <div class="chatcontainer">
        <div class="row">
            <div class="container">
                <div class="left-section container-fluid border" id='inbox'>
                    <div style="display: flex;">
                        <a  onclick="history.back()">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-square-fill" fill="#00b9ed">
                                <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.354 10.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"/>
                            </svg>
                        </a>
                        <h2 class="text-center" style="display: flex;align-items: center;justify-content: center;width: 100%;">direct</h2>
                    </div>
                        <div >
                            <ul>
                                <% for(i=0;i< convobj.length;i++){%>
                                    <% var friend='error';
                                    
                                    if(convobj[i].participants[0].name==username){
                                        friend=convobj[i].participants[1].name;
                                    }
                                    else{friend=convobj[i].participants[0].name;
                                    }
                                    
                                    if(convobj[i].viewers.length==1 && convobj[i].viewers.includes(username)){
                                        friend='anonymous -secret message'
                                    }
                                    %>
                                    <li><%-include('convoheader.ejs',{friend:friend,convoid:convobj[i]._id})%></li>
                                    
                                <% } %>
                            </ul>
                        </div>
                </div>
                <!-- <div class="right-section border container-fluid" id='messagebox'>
                    <%-include('messagebox.ejs',{friend:'testuser',username:'nick'})%>
                </div>   -->
                </div>
            </div>

        </div>
    </div>
</body>
</html>