<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" type = "image/png" href = "/addmie/img/Addmie.png"> 
    <link rel="Stylesheet" href="/addmie/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/addmie/css/gaurav.css">
    <title>Addmie</title>
</head>
<body>
    <%-include('header.ejs',{username:username})%>
    <%-include('explore.ejs',{username:username})%>
    <!-- some for loop to show random users -->
    
        <ul>
            <%for(i=0;i< userobj.length;i++){%>
                <li><%-include('friends.ejs',{friend:userobj[i].username})%></li>
            <%}%>
        </ul>

</body>
</html>
