<%
var explorepostslink='/'+username+'/explore/posts',
explorefriendslink='/'+username+'/explore/friends';
%>
    <div class="explore-header" style="width:auto ;" id='wrapper'><!-- remove this id when styling is done -->
        <ul>
            <li><a href=<%=explorefriendslink %>><div style="font-size:18px;">friends</div></a></li>
            <li><a href=<%=explorepostslink %>><div style="font-size:18px;">posts</div></a></li>
        </ul>
    </div>    
    