
<%var link = '/profile'+'/'+friend; %>
<span>
    <div style="width: 100px;">
        <a href= <%=link%>>
            <%=friend%>
        </a>
    </div>
    <button class="connectbutton" onclick="addfriend('<%=friend%>')" name=<%=friend%>  > connect </button>
</span>
