<!DOCTYPE html>
<html>
<head>
<title>Addmie</title>
<link rel = "icon" type = "image/png" href = "Addmie.png"> </link>
<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body><%- include('header.ejs')%><a href='#'>logout here</a></body>
</html>