<h2 class="border"><%=friend%></h2>
<section id="messages">
        
</section>
<div class="masssage-container">
<div class="massage">
    
    <div class="form" >
        <textarea  type="text" placeholder="message" name='message' id="message"></textarea>
        <button type="submit" style="border: none; color: rgba(30, 70, 190, 0.7); padding: 2px;" 
        name="sendmessage" placeholder="send" onclick="sendmessage('<%=username%>','<%=friend%>','<%secret%>')" >send</button>        
    </div>
</div>  