<h2 class="border">testuser</h2>
<section id="messages">
        <%for(i=0;i< result.messages.length;i++){
            if(result.messages[i].sender==username){%>
                <!--message is sent by me -->
                <div><p class="sent"><%=result.messages[i].message%></p></div>

            <%}
            else{%>
                <div><p class="recived"><%=result.messages[i].message%></p></div>
            <%}
        }%>
</section>
<div class="masssage-container">

<div class="massage">
    
    <div class="form" >
        <textarea  type="text" placeholder="message" name='message' id="message"></textarea>
        <button type="submit" style="border: none; color: rgba(30, 70, 190, 0.7); padding: 2px;" 
        name="sendmessage" placeholder="send" onclick="sendmessageagain('nick','testuser','<%=result._id%>')" >send</button>        
    </div>
</div>  