<div class='my-posts-container'>
    <div class="my-posts-container-header">
         
    </div>
    <div class="image">
        <img src="../addmie/img/Addmie.png" alt="image" height="400px" width="auto" style="margin: 5px;">
    </div>
   
    <span>       
        <%-include('likecommentsharesave.ejs',{postid:postobj._id  })%>
    </span>
    <hr>
    <div class="caption"> 
        <%=postobj.caption%> 
    </div>
    
</div>
