<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/addmie/css/message.css">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script lang="javascript" src="/addmie/js/sendmessage.js"></script>
    
</head>
<body>
    <div class="chatcontainer">
        <div class="row">
            <div class="container">
                <div class="right-section border container-fluid">
                    <%-include('messagebox.ejs',{friend:friend,username:username,secret:secret})%>
                </div>  
                </div>
            </div>

        </div>
    </div>
</body>
</html>