<%var postlink="/"+userobj.username+"/sendpost"; %>
<div class="flex flex_center flex_column">
    <h1>post preview</h1>
    <div id='newpostform' class='my-posts-container' >
        
        
            <form class="flex flex_column" method="POST" enctype="multipart/form-data" action="<%=postlink%>">

                    <i class="far fa-plus-square" >
                        <input type="file" name='newimage' accept="image/*" required/>
                    </i>
                    <input type="text" placeholder="caption" name="text" required/>
                    <input type="submit"/>
               
            </form>
            
    
    </div>
</div>