<%var link = '/profile'+'/'+friend; %>

<span class="postheader">
    <div class="post_profile_picture">
        <img src="../addmie/img/Addmie.png" alt="image" height="30px" width="30px" style="margin: 5px;">

    </div>
    <div style="width: 100%;">
        <a href= <%=link%>>
            <%=friend%>
        </a>
    </div> 
    <div>
        
    </div>  
</span>
