<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" type = "image/png" href = "../addmie/img/Addmie.png"> 
    <link rel="Stylesheet" href="../addmie/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../addmie/css/gaurav.css">  
 
    <title>Settings</title>
</head>
<body>
    <%-include('header.ejs',{username:settingsobj.username})%>
    <div class="flex flex_center">
        <div class="settings_container">
            <form>
                <div>
                    <label>firstname</label>
                    <input type="text"/>
                </div>            
                <div>
                    <label>Lastname</label>
                    <input type="text"/>
                </div>
                <div>
                    <label>email</label>
                    <input type="text"/>
                </div>
                            
                <div>
                    <label>location</label>
                    <input type="text"/>
                </div>
                <div>
                    <label>date of birth</label>
                    <input type="date"/>
                </div>
                <div>
                    <label>gender</label>
                    
                </div>
                <div>
                    male    <input type='radio' value="male"/>
                    female  <input type='radio' value="male"/>
                    anyother    <input type='radio' value="male"/>
                </div>
                
                
                <input type="submit" value="Update"/>
            </form>
            

            <div>
                <label>Allow secret messages</label>
                <button>
                    <i class="fas fa-toggle-on  lightblue"></i>
                </button>
            </div>
            <div>
                <label>Allow Date requests</label>
                <button>
                    <i class="fas fa-toggle-on  lightblue"></i>
                </button>
            </div>
            <div>
                <label>Allow notifications</label>
                <button>
                    <i class="fas fa-toggle-on  lightblue"></i>
                </button>
            </div>
            <div>
                <a href="#">change password</a>
            </div>
            <div>
                <a href="/logout">Logout</a>
            </div>
            <div>
                <a href="#">Blocked accounts</a>
            </div>
            <div>
                <button><a style="color: red;">Delete my account</a></button>
            </div>
            
        </div>
    </div>
</body>
</html>