*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0; 
    margin: 0;
    text-decoration: none;

    
}

body,html{
    height: 100%;
    width: 100%;
    
}
i ,a{
    color: #993299;
}
.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: rgba(69, 129, 241, 0.753);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

button::onclick{
    border: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
nav{
    background-color: #00b9ed;

    
}
.flex{
    display: flex;
}
.flex_center{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.flex_column{
    flex-direction: column;
}
.flex_row{
    flex-direction: row;
}
.blurtext{
    color: rgba(128, 128, 128, 0.45);
}
.title{
    font-size: 32px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

.headerbuttons{
    padding-left: 5px;
    padding-right: 5px;
}

.grid-container{
    flex-direction: column;
}
.grid-container-left {
    height: 100%;
    background-color: blanchedalmond;
} 

.profile{
    flex-direction: column;
    width: 30%;
    height: 35%;
    justify-content: center;
    align-items: center;
}
#containerbar{
    width: 100%;   
}
#containerbar h1,#containerbar h2{
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-align: center;
}
#containerbar p{
    font-size: 16px;
    text-align: left;
    word-wrap: break-word;
    width: 80%;
    font-style: oblique;
    color: rgba(65,65,65,0.75);
}
#bio{
    word-wrap: break-word;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
}
.container h1{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
}
.container h2{
    font-size: 16px;
    font-weight: 400;
}
.grid-container-right{
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.post-container{
    
    width: 100%;
    height: 85%;
    
}
#profile_picture{
    background-color: whitesmoke;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#username{
    color: rgba(255,255,255,1);
    background-color: rgba(255, 230, 5,0.3);
    padding: 10px;
    
}
#username a{
    text-align: center;
    padding: 10px;
    font-size: 16px;
   
}
.name div{
    margin: 10px;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.profileoptions{
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.profileoptions button ,.profileoptions a{
    background-color: #00b9ed;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 15%;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    color: white;
    text-align: center;
}


.myprofilepostselect{
    justify-content: space-evenly;
}
.myprofilepostselect div {
    background-color: #00b9ed;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    
}
.myprofilepostselect div a{
    
    font-size: 3em;    
    text-transform: capitalize;
    
}
.myprofilepostselect div a i{
    font-size: 0.9em;    
}
.post-container{
    text-align: center;
    overflow-y: scroll;
}
.post-container ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.my-posts-container{
    position: relative;
    background-color: ivory;
    border: 1px solid black;
    box-shadow: grey 2px 2px 2px 2px;
    margin: 10px;
    padding: 5px;
    
}
/* like and comment and share container down */
.my-posts-container span{
    display: flex;
}
.my-posts-container span div{
    padding: 3px;
}
.post-image{
    height: 400px;
    width: 400px;
    margin: 5px;
}
.post-image div{
    position: relative;
    
}
.post-image div img{
    position: absolute;
    height: 400px;
    width: 400px;
   

}
.post-image .onbottomimage{
    filter: blur(7px);
    clip: rect(0,400px,400px,0);
}
.friends-container a{
    color: black;
    text-decoration: none; 

}
.friends-container{
    background-color: white;
    text-align: left;
    margin: 5px;
    padding: 2px;
    overflow-y: scroll;
}
.friends-container span{
    display: flex;
}
.friends-container ul li{
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}
.connectbutton{
    background-color: rgba(69, 129, 241, 0.3);
    border: 1px solid rgba(69, 129, 241, 0.5);
    font-size: 10px;
    font-weight: 500;
    padding: 2px;
    border-radius: 10px;
}
.red{
    color: red;
}
.gold{
    color: gold;
}
.likecommentsharesave{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.likecommentsharesave button {
    outline: none;
    border: none;
    background-color: white;
}
.likecommentsharesave button i{
    font-size: 1.5em;
    color: black;
}
 
.likecommentsharesave a{
    text-decoration: none;
    color: lightslategray;
}
.likecommentsharesave .like .fas{
    color:red
}
.likecommentsharesave .like  .far{
    color: black;
}
.likecommentsharesave .save .fas{
    color:gold
}
.likecommentsharesave .save  .far{
    color: black;
}
.post_profile_picture{
    background-color: whitesmoke;
    margin: 5px;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.postheader{

    display: flex;
    align-items: center   
}
.likes ,.likes div{
    display: flex;
    color: grey;
    text-transform: capitalize;
    font-size: 8px;
    padding: 0px;
}
.postheader > div:nth-child(2) > a{
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-weight: bold;
    /* username of the post container */
    
}

.menu{
    z-index: 1;
    position: absolute;;
    margin-left: 135px;
    margin-top: 75px;
    height: fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 5px;
    box-shadow: rgba(128, 128, 128, 0.363) 3px 3px;
}
.menu li button{
    font-size: 32px;
    border: none;
    outline: none;
    text-decoration: none;
    color: rgb(110, 110, 110);
    background-color: transparent;
}
.menu ul{
    padding: 5px;
}
.menu li{
    padding: 2px;
    width: 100%;
    border-bottom: 1px solid darkgray;
}
.settings_container{
    border: 1px solid black;
    height: 100%;
    width: 100%;
    margin: 100px;
    border-radius: 30px;
    padding: 30px;
    font-size: 24px;
    
}
.settings_container form,.settings_container section{
    flex-direction: column;
}
.settings_container form  div,.settings_container section div{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.settings_container label,.settings_container a{
    font-size: 24px;
    text-transform: capitalize;
    text-decoration: none;
    padding: 5px;
}
 .settings_container input[type=text],.settings_container select{
    border-radius: 10px ;
    border: 1px solid black;
    height: 100%;
    outline: none;
 }
 .settings_container input{
     margin: 5px;
 }
 .settings_container button{
     outline: none;
     border: none;
     background-color: transparent;
 }
.lightblue{
    font-size: 2em;
    color: #00b9ed;
}
.fa-toggle-off{
    color: gray;
}
#profilemenu{
    width: 100%;    
}
#profilemenu .menu{
    background-color: white;
    text-align: center;
}
#profilemenu div{
    margin: 0px;
}

.search_container{
    border: 1px solid black;
    height: 100%;
    width: 100%;
    margin: 100px;
    border-radius: 30px;
    padding: 30px;
    font-size: 24px;
    
}

.search_container form  div{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

 .search_container input[type=text]{
    border-radius: 10px ;
    border: 1px solid black;
    height: 100%;
    outline: none;
 }
 .search_container input{
     margin: 5px;
     padding: 5px;
 }
 .search_container button{
     outline: none;
     border: none;
     background-color: transparent;
 }

.hide{
    display: none;
}
.accountbox{
    
    width: 100%;
    border-top: 1px solid black;
    overflow: scroll;
    
}
#myposts.hide:target {display:block;}
#newpost.hide:target {display:block;}
#savedposts.hide:target {display:block;}
#changepassword.hide:target {display:block;}
#blocked.hide:target {display:block;}