*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0; 
    margin: 0;
    text-decoration: none;
    font-size: 12px;
    
}

body,html{
    height: 100%;
    width: 100%;
    overflow-: hidden;
}
.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: rgba(69, 129, 241, 0.753);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

button::onclick{
    border: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
nav{
    background-color: #00b9ed;

    
}
.flex{
    display: flex;
}
.flex_center{
    align-items: center;
    justify-content: center;
}
.flex_column{
    flex-direction: column;
}
.flex_row{
    flex-direction: row;
}
.title{
    font-size: 32px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}
#search_form button,#search_form textarea{
    border: none;
    outline: none;
    padding: 5px;
}
#search_form{
    border: 1px solid black;
}
.headerbuttons{
    padding-left: 5px;
    padding-right: 5px;
}

.grid-container{
    flex-direction: column;
}
.grid-container-left {
    height: 100%;
    background-color: blanchedalmond;
} 

.profile{
    flex-direction: column;
    width: 30%;
    height: 35%;
    justify-content: center;
    align-items: center;
}
#containerbar{
    width: 100%;   
}
#containerbar p{
    font-size: 16px;
    text-align: left;
    word-wrap: break-word;
    width: 80%;
    font-style: oblique;
    color: rgba(65,65,65,0.75);
}
#bio{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
}
.container h1{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
}
.container h2{
    font-size: 16px;
    font-weight: 400;
}
.grid-container-right{
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.postform{
    border: 1px solid black;
    padding: 1px;
    width: 80%;
    height: 15%;    
}
.post-container{
    
    width: 100%;
    height: 85%;
    
}
#profile_picture{
    background-color: whitesmoke;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#username{
    color: rgba(255,255,255,1);
    background-color: rgba(255, 230, 5,0.3);
    padding: 10px;
    
}
#username a{
    text-align: center;
    padding: 10px;
    font-size: 16px;
   
}
.name div{
    margin: 10px;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.postform form{
    display: flex;
    height: 100%;
    width: 100%;

}
body > div.grid-container > div.grid-container-right > div.postform > form > input[type=text]:nth-child(1){
    width: 90%;
    background-color: white;
    margin:0px;
    border: none;
    height: 100%;
    color: rgba(100,100,100,0.5);
    font-weight: 900;
    text-align: center;
}
body > div.grid-container > div.grid-container-right > div.postform > form > input[type=submit]:nth-child(2){
    width: 10%;
    border: none;
    border-left: 1px solid rgba(100,100,100,0.5) ;
    background-color: white;
    margin: 0px;
    color: black;
    font-weight: bold;
    height: 100%;
}

.post-container{
    text-align: center;
    overflow-y: scroll;
}
.post-container ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.my-posts-container{
    background-color: ivory;
    border: 1px solid black;
    box-shadow: grey 2px 2px 2px 2px;
    margin: 10px;
    padding: 5px;
    
}
/* like and comment and share container down */
.my-posts-container span{
    display: flex;
}
.my-posts-container span div{
    padding: 3px;
}
.post-image{
    overflow: hidden;
}
.friends-container a{
    color: black;
    text-decoration: none; 

}
.friends-container{
    background-color: white;
    text-align: left;
    margin: 5px;
    padding: 2px;
    overflow-y: scroll;
}
.friends-container span{
    display: flex;
}
.friends-container ul li{
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}
.connectbutton{
    background-color: rgba(69, 129, 241, 0.3);
    border: 1px solid rgba(69, 129, 241, 0.5);
    font-size: 10px;
    font-weight: 500;
    padding: 2px;
    border-radius: 10px;
}
.red{
    color: red;
}
.gold{
    color: gold;
}
.likecommentsharesave{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.likecommentsharesave button {
    outline: none;
    border: none;
    background-color: white;
}
.likecommentsharesave button i{
    font-size: 1.5em;
}
.likecommentsharesave a{
    text-decoration: none;
    color: lightslategray;
}
.likecommentsharesave .like .fas{
    color:red
}
.likecommentsharesave .like  .far{
    color: black;
}
.post_profile_picture{
    background-color: whitesmoke;
    margin: 5px;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.postheader{

    display: flex;
    align-items: center   
}
.likes ,.likes div{
    display: flex;
    color: grey;
    text-transform: capitalize;
    font-size: 8px;
    padding: 0px;
}
.postheader > div:nth-child(2) > a{
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-weight: bold;
    /* username of the post container */
    
}
.hide{
    display: none;
}
.menu{
    z-index: 1;
    position:absolute;
    margin-left: 135px;
    margin-top: 75px;
    height: fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 5px;
    box-shadow: rgba(128, 128, 128, 0.363) 3px 3px;
}
.menu li button{
    font-size: 32px;
    border: none;
    outline: none;
    text-decoration: none;
    color: rgb(110, 110, 110);
    background-color: transparent;
}
.menu ul{
    padding: 5px;
}
.menu li{
    padding: 2px;
    width: 100%;
    border-bottom: 1px solid darkgray;
}
.settings_container{
    border: 1px solid black;
    height: 100%;
    width: 100%;
    margin: 100px;
    border-radius: 30px;
    padding: 30px;
    font-size: 24px;
    
}
.settings_container form,.settings_container section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.settings_container form div,.settings_container section div{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.settings_container label,.settings_container a{
    font-size: 24px;
    text-transform: capitalize;
    text-decoration: none;
    padding: 5px;
}
 .settings_container input[type=text],select{
    border-radius: 10px ;
    border: 1px solid black;
    height: 100%;
    padding: 5px;
    outline: none;
 }
 .settings_container input{
     margin: 5px;
 }
 .settings_container button{
     outline: none;
     border: none;
     background-color: transparent;
 }
.lightblue{
    font-size: 2em;
    color: #00b9ed;
}
.fa-toggle-off{
    color: gray;
}